<div>
    <div class="row justify-content-center">
        <div class="col-md-8"></br>
            <h2 *ngIf="settingsAccount">Postavke za [<b>{{settingsAccount.login}}</b>]</h2></br>

            <div class="alert alert-success" *ngIf="success">
                <strong>Postavke spremljene!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">Ime</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Your first name"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required">
                            Polje je obavezno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength">
                            Polje ne može biti prazno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength">
                            Maksimalan broj znakova je 50.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Prezime</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Your last name"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required">
                            Polje je obavezno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength">
                            Polje ne može biti prazno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength">
                            Maksimalan broj znakova je 50.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="254" #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Polje ne može biti prazno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Neispravan email.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Minimalan broj znakova je 5.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Maksimalan broj znakova je 100.
                        </small>
                    </div>
                </div></br></br>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary">Spremi</button>
            </form>
        </div>
    </div>
	</br></br></br>
</div>
