<div>
    <div class="row justify-content-center">
        <div class="col-md-8"></br>
            <h2 *ngIf="account">Lozinka za [<b>{{account.login}}</b>]</h2></br>

            <div class="alert alert-success" *ngIf="success">
                <strong>Lozinka promjenjena!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Greška!</strong> Lozinka ne može biti promjenjena.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Lozinke se ne podudaraju!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword">Trenutna lozinka</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword" #currentPasswordInput="ngModel"
                           placeholder="Current password"
                           [(ngModel)]="currentPassword" required>
                    <div *ngIf="currentPasswordInput.dirty && currentPasswordInput.invalid">
                        <small class="form-text text-danger"
                               *ngIf="currentPasswordInput.errors.required">
                            Your password is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword">Nova lozinka</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword" #newPasswordInput="ngModel"
                    placeholder="New password"
                           [(ngModel)]="newPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="newPasswordInput.dirty && newPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.required">
                            Polje ne može biti prazno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.minlength">
                            Minimalan broj znakova je 4.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="newPasswordInput.errors.maxlength">
                            Maksimalan broj znakova je 50.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="newPassword"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Potvrda lozinke</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirm the new password"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Polje ne može biti prazno.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Minimalan broj znakova je 4.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Maksimalan broj znakova je 50.
                        </small>
                    </div>
                </div>
				</br></br>
                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Spremi</button>
            </form>
        </div>
    </div></br></br></br>
</div>
