<div class="row">
	<ngb-carousel #carousel> <ng-template ngbSlide>
	<div class="slider">
		<img class="img-fluid" src="../../content/images/lightbulb.png"
			alt="Random first slide">
		<div class="carousel-caption">
			<h3 class="sliderText">Tapkate po mraku kada je računovodstvo u
				pitanju?</h3>
			<!--<p class="sliderText">Tapkate po mraku kada je računovodstvo u pitanju?</p> -->
		</div>
	</div>
	</ng-template> <ng-template ngbSlide>
	<div class="slider">
		<img class="img-fluid" src="../../content/images/lightbulbON.png"
			alt="Random second slide">
		<div class="carousel-caption">
			<h3 class="sliderText">Rezervirajte termin instrukcija i upalite
				svijetlo!</h3>
			<!--<p class="sliderText">Upalite svijetlo!</p> -->
		</div>
	</div>
	</ng-template> </ngb-carousel>
	<br>
	<!-- Page Content -->
	<div class="container">
		<br>
		<h1 class="my-4">Instrukcije Budućnost</h1>
		<br>

		<!-- Marketing Icons Section -->
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Osnove računovodstva</h4>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Sapiente esse necessitatibus neque.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Više</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Računovodstveno izvješćivanje</h4>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
							commodi similique totam consectetur praesentium molestiae atque
							exercitationem ut consequuntur, sed eveniet, magni nostrum sint
							fuga.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Više</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Gospodarska matematika</h4>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Sapiente esse necessitatibus neque.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Više</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Osnove financiranja poduzeća</h4>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Sapiente esse necessitatibus neque.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Više</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 mb-4">
				<div class="card h-100">
					<h4 class="card-header">Analiza ulaganja u energiju</h4>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit. Reiciendis ipsam eos, nam perspiciatis natus
							commodi similique totam consectetur praesentium molestiae atque
							exercitationem ut consequuntur, sed eveniet, magni nostrum sint
							fuga.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Više</a>
					</div>
				</div>
			</div>
			<!-- /.row -->

			<!-- Features Section -->
			<div class="row">
				<div class="col-lg-6">
					<br>
					<br>
					<br>
					<h2 class="sliderText">O instruktoru</h2>
					<br>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Corporis, omnis doloremque non cum id reprehenderit, quisquam
						totam aspernatur tempora minima unde aliquid ea culpa sunt.
						Reiciendis quia dolorum ducimus unde.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Corporis, omnis doloremque non cum id reprehenderit, quisquam
						totam aspernatur tempora minima unde aliquid ea culpa sunt.
						Reiciendis quia dolorum ducimus unde.</p>
				</div>
				<div class="col-lg-6">
					<br>
					<br>
					<br> <img class="img-fluid rounded"
						src="http://placehold.it/700x450" alt="">
				</div>
			</div>
			<!-- /.row -->

			<!-- Call to Action Section -->
			<!--       <div class="row mb-4"> -->
			<!--         <div class="col-md-8"> -->
			<!--           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p> -->
			<!--         </div> -->
			<!--         <div class="col-md-4"> -->
			<!--           <a class="btn btn-lg btn-secondary btn-block" href="#">Call to Action</a> -->
			<!--         </div> -->
			<!--       </div> -->

		</div>
		<!-- /.container -->
	</div>
</div>